:host {
  display: block;
}
button {
  /* reset */
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  /* reset */
  padding: 1em;
  border-radius: 50%;
  outline: none;
}

button:active {
  transform: translateY(3px);
  filter: saturate(150%);
}

button:hover,
button:focus {
  color: #333333;
  border-color: currentColor;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

svg {
  width: 30px;
  height: 30px;
}